

.jumbotron {
	background: turquoise;
}

.className1 {
	background-image: url("../../images/Lolly.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
}

.className2 {
	width: 10%; height: 10%;
}

.introduction img {
	float: left;
	border-radius: 180 px;
}

.introduction p {
	float: left;
}

#firstAnswer {
	display: none;
}

#moreContent {
	display: none;
}